<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head(title)">
<meta charset="ISO-8859-1">
<title th:text="${title}">Layout Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link type="text/css" rel="stylesheet"
	th:href="@{/static/style/style.css}" />
</head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task
	List</title>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="container">
		<div layout:fragment="content">bonjour</div>
	</div>
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>