<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">


	<!-- <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" 
		p:location=""> -->
	<!-- </bean> -->

	<!-- BFPP -->
	<context:property-placeholder
		location="classpath:db/db.properties" />

	<!-- <util:properties id="dbProps" -->
	<!-- location="classpath:db/db.properties"></util:properties> -->

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n/messages"></property>

	</bean>

    <context:property-placeholder
		location="classpath:db/db.properties" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:username="${db.username}" p:password="${db.username}">
		<property name="url" value="${db.url}"></property>
		<property name="driverClassName"
			value="${db.driverClassName}"></property>
	</bean>


	<!-- Creates an in-memory "sample" database populated with test data for 
		fast testing -->
	<jdbc:embedded-database id="dataSource">
		<jdbc:script location="classpath:db/schema.sql" />
		<jdbc:script location="classpath:db/test-data.sql" />
	</jdbc:embedded-database>

</beans>
